parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/CalculateJobMetricsAction.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/CalculateJobMetricsAction.php

		-
			message: '#^Parameter \#3 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/CalculateJobMetricsAction.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 4
			path: src/DataTransferObjects/BaselineData.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/DataTransferObjects/BaselineData.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/DataTransferObjects/BaselineData.php

		-
			message: '#^Parameter \#1 \$time of static method Carbon\\Carbon\:\:parse\(\) expects Carbon\\Month\|Carbon\\WeekDay\|DateTimeInterface\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/BaselineData.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 7
			path: src/DataTransferObjects/DurationStats.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/DataTransferObjects/FailureInfo.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/DataTransferObjects/FailureInfo.php

		-
			message: '#^Parameter \#1 \$time of static method Carbon\\Carbon\:\:parse\(\) expects Carbon\\Month\|Carbon\\WeekDay\|DateTimeInterface\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/FailureInfo.php

		-
			message: '#^Parameter \$lastException of class PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\FailureInfo constructor expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/FailureInfo.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 3
			path: src/DataTransferObjects/HealthStats.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/DataTransferObjects/HealthStats.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/DataTransferObjects/HealthStats.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/DataTransferObjects/JobExecutionData.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\WindowStats given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$data of static method PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\DurationStats\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$data of static method PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\FailureInfo\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$data of static method PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\JobExecutionData\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$data of static method PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\MemoryStats\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$data of static method PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\ThroughputStats\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#1 \$time of static method Carbon\\Carbon\:\:parse\(\) expects Carbon\\Month\|Carbon\\WeekDay\|DateTimeInterface\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/JobMetricsData.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 4
			path: src/DataTransferObjects/MemoryStats.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 4
			path: src/DataTransferObjects/QueueMetricsData.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 6
			path: src/DataTransferObjects/QueueMetricsData.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: src/DataTransferObjects/QueueMetricsData.php

		-
			message: '#^Parameter \#1 \$data of static method PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\HealthStats\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/QueueMetricsData.php

		-
			message: '#^Parameter \#1 \$time of static method Carbon\\Carbon\:\:parse\(\) expects Carbon\\Month\|Carbon\\WeekDay\|DateTimeInterface\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/QueueMetricsData.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 3
			path: src/DataTransferObjects/ThroughputStats.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/DataTransferObjects/WindowStats.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/DataTransferObjects/WindowStats.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/DataTransferObjects/WorkerStatsData.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/DataTransferObjects/WorkerStatsData.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: src/DataTransferObjects/WorkerStatsData.php

		-
			message: '#^Parameter \#1 \$time of static method Carbon\\Carbon\:\:parse\(\) expects Carbon\\Month\|Carbon\\WeekDay\|DateTimeInterface\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/WorkerStatsData.php

		-
			message: '#^Parameter \$currentJob of class PHPeek\\LaravelQueueMetrics\\DataTransferObjects\\WorkerStatsData constructor expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTransferObjects/WorkerStatsData.php

		-
			message: '#^Class PHPeek\\LaravelQueueMetrics\\Facades\\QueueMetrics has PHPDoc tag @method for method getOverview\(\) return type with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/QueueMetrics.php

		-
			message: '#^Class PHPeek\\LaravelQueueMetrics\\Facades\\QueueMetrics has PHPDoc tag @method for method healthCheck\(\) return type with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/QueueMetrics.php

		-
			message: '#^Offset ''health_score'' on array\{total_queues\: int, total_jobs_processed\: int, total_jobs_failed\: int, total_active_workers\: int, health_score\: float\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Offset ''total_active_workers'' on array\{total_queues\: int, total_jobs_processed\: int, total_jobs_failed\: int, total_active_workers\: int, health_score\: float\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Offset ''total_jobs_failed'' on array\{total_queues\: int, total_jobs_processed\: int, total_jobs_failed\: int, total_active_workers\: int, health_score\: float\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Offset ''total_jobs_processed'' on array\{total_queues\: int, total_jobs_processed\: int, total_jobs_failed\: int, total_active_workers\: int, health_score\: float\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Offset ''total_queues'' on array\{total_queues\: int, total_jobs_processed\: int, total_jobs_failed\: int, total_active_workers\: int, health_score\: float\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Static method Spatie\\Prometheus\\Facades\\Prometheus\:\:addCounter\(\) invoked with 5 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Static method Spatie\\Prometheus\\Facades\\Prometheus\:\:addGauge\(\) invoked with 5 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 3
			path: src/Http/Controllers/PrometheusController.php

		-
			message: '#^Parameter \#3 \$ttls of class PHPeek\\LaravelQueueMetrics\\Services\\RedisConnectionManager constructor expects array\<string, int\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/LaravelQueueMetricsServiceProvider.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: src/Listeners/JobFailedListener.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: src/Listeners/JobProcessedListener.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: src/Listeners/JobProcessingListener.php

		-
			message: '#^Binary operation "\-" between float\|int\|string and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Repositories/RedisBaselineRepository.php

		-
			message: '#^Parameter \#2 \$pattern of method Redis\:\:scan\(\) expects string\|null, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repositories/RedisBaselineRepository.php

		-
			message: '#^Strict comparison using \=\=\= between \(Redis\|string\|false\) and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Repositories/RedisBaselineRepository.php

		-
			message: '#^Binary operation "\-" between float\|int\|string and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Repositories/RedisJobMetricsRepository.php

		-
			message: '#^Invalid array key type float\.$#'
			identifier: array.invalidKey
			count: 3
			path: src/Repositories/RedisJobMetricsRepository.php

		-
			message: '#^Method Redis\:\:pipeline\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/Repositories/RedisJobMetricsRepository.php

		-
			message: '#^Parameter \#2 \$pattern of method Redis\:\:scan\(\) expects string\|null, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repositories/RedisJobMetricsRepository.php

		-
			message: '#^Strict comparison using \=\=\= between \(Redis\|string\|false\) and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Repositories/RedisJobMetricsRepository.php

		-
			message: '#^Binary operation "\-" between float\|int\|string and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Repositories/RedisQueueMetricsRepository.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Queue and ''size'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Repositories/RedisQueueMetricsRepository.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Repositories/RedisQueueMetricsRepository.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Repositories/RedisQueueMetricsRepository.php

		-
			message: '#^Parameter \#2 \$pattern of method Redis\:\:scan\(\) expects string\|null, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repositories/RedisQueueMetricsRepository.php

		-
			message: '#^Strict comparison using \=\=\= between \(Redis\|string\|false\) and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Repositories/RedisQueueMetricsRepository.php

		-
			message: '#^Method Redis\:\:pipeline\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/Repositories/RedisWorkerHeartbeatRepository.php

		-
			message: '#^Binary operation "\-" between float\|int\|string and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Repositories/RedisWorkerRepository.php

		-
			message: '#^Strict comparison using \=\=\= between \(Redis\|string\|false\) and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Repositories/RedisWorkerRepository.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Queue and ''size'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Cannot access offset ''queue'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Cannot access offset ''queues'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Cannot call method lindex\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Cannot call method llen\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Cannot call method zcard\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Cannot call method zrange\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Method PHPeek\\LaravelQueueMetrics\\Services\\LaravelQueueInspector\:\:getAllQueues\(\) should return array\<string\> but returns list\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Services/LaravelQueueInspector.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/LaravelQueueInspector.php
